@{
    ViewBag.Title = "Home Page";
}
@helper Step(string label, string linkText, string action, string controller)
{
  @(label + " ")
  @Html.ActionLink(linkText, action, controller)
}
<h1>@Settings.Get(HostSettingNames.ApplicationTitle)</h1>
<div class="row">
  <div class="col-sm-3">
    <div class="well">
      @Html.Raw(Settings.Get(HostSettingNames.WelcomeMessage))
    </div>
  </div>

  <div class="col-sm-9">
    @* if no projects *@
    <div class="jumbotron" id="BlankSlate">
      <h1>@Resources.Home.Index.WelcomeMessageHeader</h1>
      <p>@Resources.Home.Index.NoProjects</p>

      <ul class="list-unstyled">
        <li>
          <span class="fa fa-stack fa-2x">
            <span class="fa fa-circle fa-stack-2x number"></span>
            <strong class="fa-stack-1x number-text">1</strong>
          </span>&nbsp;
          @Step(Resources.Home.Index.Step1_MessageFormat, Resources.Home.Index.Step1_LinkText, "AddProject", "Administration")
        </li>
        <li>
          <span class="fa fa-stack fa-2x">
            <span class="fa fa-circle fa-stack-2x number"></span>
            <strong class="fa-stack-1x number-text">2</strong>
          </span>&nbsp;
          @Step(Resources.Home.Index.Step2_MessageFormat, Resources.Home.Index.Step2_LinkText, "HostSettings", "Administration")
        </li>
        <li>
          <span class="fa fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x number"></i>
            <strong class="fa-stack-1x number-text">3</strong>
          </span>&nbsp;
          @Step(Resources.Home.Index.Step3_MessageFormat, Resources.Home.Index.Step3_LinkText, "HostSettings", "Administration")
        </li>
      </ul>
      <p>
        <a class="btn btn-primary btn-lg" href="http://bugnet.codeplex.com/documentation" role="button">
          @Resources.Home.Index.LearnMore
        </a>
      </p>
    </div>
  </div>
</div>
