@model UserProfileDetailsViewModel

<form class="form-horizontal" action="@Url.Action("UserProfileDetails")" method="post">
  @Html.HiddenFor(m => m.UserName)
  <div class="form-group">
    <label class="control-label col-md-2">@Resources.Shared.FirstName</label>
    <div class="col-md-4">
      @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2">@Resources.Shared.LastName</label>
    <div class="col-md-4">
      @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2">@Resources.Shared.DisplayName</label>
    <div class="col-md-4">
      @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control" })
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-4 col-md-offset-2">
      <button class="btn btn-primary">@Resources.Shared.Save</button>
    </div>
  </div>
</form>