@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
  using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
  {
    @Html.AntiForgeryToken()
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown navbar-profile">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <div class="navbar-profile-avatar">
            @Html.GetGravatarImage(User.Identity.GetUserName())
          </div>
          @WebProfile.CurrentDisplayName
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            @Html.ActionLink(Resources.Shared.ViewProfile, "UserProfile", "Account")
          </li>
          <li>
            @Html.ActionLink(Resources.Shared.ManageAccount, "Manage", "Account")
          </li>
          <li class="divider"></li>
          <li><a href="javascript:document.getElementById('logoutForm').submit()">@Resources.Shared.Logout</a></li>
        </ul>
      </li>
    </ul>
  }
}
else
{

  <ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink(Resources.Shared.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink(Resources.Shared.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
  </ul>
}
