@model UserProfileViewModel

@{
    ViewBag.Title = Resources.Account.Profile.PageTitle;
}
<h1>@Resources.Account.Profile.PageTitle</h1>

<h3>@User.Identity.Name</h3>

<div class="row">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active"><a href="#details" data-toggle="pill">@Resources.Account.Profile.UserDetails</a></li>
      <li role="presentation"><a href="#preferences" data-toggle="pill">@Resources.Account.Profile.Preferences</a></li>
      <li role="presentation"><a href="#notifications" data-toggle="pill">@Resources.Account.Profile.Notifications</a></li>
    </ul>
  </div>
  <div class="col-md-10">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="details">
        @Html.EditorFor(m => m.Details)
      </div>

      <div role="tabpanel" class="tab-pane" id="preferences">
        @Html.EditorFor(m => m.Preferences)
      </div>

      <div role="tabpanel" class="tab-pane" id="notifications">
        Notifications Content
      </div>
    </div>
  </div>
</div>

